*{
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}
.contant-wrapper{
    width: 100%;
    height: 100vh;
    // border: solid 6px;
    display: grid;
    grid-template-rows:1fr 7em;
}
contant_main{
    background-color: #E6DACF;
    grid-row: 1/2;
    margin-top: 6em;
    
}
contant_head{
    height: 180px;
    display: block;
    // border:solid 1px ;
    line-height: 180px;
    text-align: center;
    transform: translateX(32px);
    font-size: 30px;
    font-weight: 700;
    position: relative;
    &::before{
        content: " ";
        background-color: #0051FF;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 90px;
        // left:00px;
        transform: translateX(-480%) translateY(-50%) ;
        
    }
}
contant_list{
    display: block;
    width: 680px;
    height: 700px;
    margin: auto;
    background-color: #FFF;
    box-shadow: -10px 10px 20px 5px rgb(203, 202, 202);
    margin-bottom: 70px;
}