*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 6em;
    background-color: #fff;
    // border: solid 1px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;

    &::before{
        content: '';
        width: 20px;height: 20px;
        background-color: #0051FF;
        display: inline-block;
        position: absolute;
        top: 2.4em;left: 2em;
    }

    & P{
        font-size: 1em;
        font-weight: 300;
        letter-spacing: .1em;
        line-height: 6em;
        // border: solid 1px;
        position: relative;left:4em;

    }
    .title{
        font-size: 1.7rem;
        font-weight: 800;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        letter-spacing: normal;
    }
    
   

 .nav{
    line-height: 6em;
    display: inline-block;
    position: absolute;right: 4em;

    & a{
        display: inline-block;
        width: 6em;
        color: rgb(72, 72, 72);
        font-size: 0.85em;
        font-weight: 300;
        // border: solid 1px;
        text-align: center;
        text-decoration: none;    
    }
    & a:hover{
        color: blue;
    }
    // & .nav-first{
    // //     color: blue;
    // }
  }
 }

 .menu-btn{
    visibility: hidden;
    height: 40px;
    width: 40px;
    // background-color: black;
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.phone-menu{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;top: 1px;
    z-index: 2;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    & a{
        color: black;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: 700;
        display: block;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
    }
    .phonemenu-first{
        color: #0051FF;

    }

}



@media (max-width: 768px) {
    .header{
        position: relative;
        &::before{
            position: absolute;top: 25px;
        }

    
    & P{
      .title{
        display: flex;
        flex-wrap: 2;
        font-size:1.3em;
        font-weight: 700;
      }
        position: relative;top: -.8em;    
    } 
   
     
      .dis{
        visibility: hidden;
      }
      .pro{
        font-size: 0.8em;
        font-weight: 200;
        position: relative; top: -5.5em; left:-3.5em;
      }
    }

    .nav{
        visibility: hidden;
    }
    .menu-btn{
        visibility: initial;
        position: absolute;
        right: 2em;
        top: 1.4em;
        .menu-btn__bar {
          width: 1.3em;
          height: 0.3em;
          border-radius: 0.15em;
          position: relative;
          transform: translateY(-50%);
          background-color: #0051FF;
          transition-duration: 0.5s;
        }
        .menu-btn-2{
          width: 2.5em;
          top: 50%;
        }
        .menu-btn-1{
          top: 30%;
        }
        .menu-btn-3{
          top: 70%;
          left: 50%;
        }
      &.active {
          .menu-btn__bar {
            background-color: rgb(46, 46, 46);
          }
          .menu-btn-1 {
            transform: translateX(20%) translateY(150%) rotate(-135deg);
          }
          .menu-btn-2 {
            transform: rotate(-45deg);
          }
          .menu-btn-3 {
            transform: translateX(-20%) translateY(-150%) rotate(45deg);
          }
      }
    }
    // .menu-btn:hover .menu-btn-2{
    //     background-color: rgb(46, 46, 46);
    //     transform: rotate(-45deg);
    // }
    // .menu-btn:hover .menu-btn-1{
    //     background-color: rgb(46, 46, 46);
    //     transform: translateX(20%) translateY(150%) rotate(-135deg);
    // }
    // .menu-btn:hover .menu-btn-3{
    //     background-color: rgb(46, 46, 46);
    //     transform: translateX(-20%) translateY(-150%) rotate(45deg);
    // }
    // .menu-btn:hover .phone-menu{
    //     visibility: initial;
    // }

 .phone-menu {
    &.is-show {
      visibility: initial;
    }
 }
}



