doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='https://kit.fontawesome.com/bdf4d726ef.js' crossorigin='anonymous')
        link(rel="stylesheet", href="main.css")        
        title CONTANT
    body 
    .page-wrapper 
     include layout/header.pug
     contant_main
      contant_head
       h2 Let's talk
      contant_list



     include layout/footer.pug