doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='https://kit.fontawesome.com/bdf4d726ef.js' crossorigin='anonymous')
        link(rel="stylesheet", href="main.css")        
        title RESUME
    body 
    .resume-wrapper 
     include layout/header.pug
     resume_main 
      resume_head 
       P Resume
       
      resume_nav
       h2 Experience
       btn DOWNLOAD CV
      
      resume_section 
        resume_section_left
         h3 2035 - Present
         h4 JOB POSITION
         P Company Name
          <br/> Company Location
        resume_section_right
         P I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
          <br/>
          <br/>I’m a great place for you to tell a story and let your users know a little more about you.

      resume_section
        resume_section_left
         h3 2035 - 2035
         h4 JOB POSITION
         P Company Name
          <br/> Company Location
        resume_section_right
         P I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
          <br/>
          <br/>I’m a great place for you to tell a story and let your users know a little more about you.

      resume_nav
       h2 Education
      
      resume_section 
        resume_section_left
         h3 2035 - 2035
         h4 UNIVERSITY NAME
         P Degree Level
          <br/> University Location
        resume_section_right
         P I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
          <br/>
          <br/>I’m a great place for you to tell a story and let your users know a little more about you.

      resume_section
        resume_section_left
         h3 2035 - 2035
         h4 UNIVERSITY NAME
         P Degree Level
          <br/> University Location
        resume_section_right
         P I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
          <br/>
          <br/>I’m a great place for you to tell a story and let your users know a little more about you.

      
      resume_section_last
       resume_section_last_contant
        h2 Professional skillset
         ul.resume_section_last
          li Entrepreneurial Mindset
          li Go-to-Market Planning
          li Teamwork & Collaboration
          li Digital Analytics
        h2 Languages
         ul
          li English (native)
          li French (proficient)
          li Spanish (proficient)

     
     include layout/footer.pug