.footer
 .copyright 
   h2 © 2035 by Maya Nelson.<br>Powered and secured by<a href="" >Wix</a> 

 .information
  table
   thead  
    tr
     th Call
     th Write
     th Follow
   tbody 
    tr
     td 123-456-789
     td info@mysite.com
     td
      i.fa-brands.fa-facebook-f
      i.fa-brands.fa-twitter
      i.fa-brands.fa-linkedin-in
      i.fa-brands.fa-instagram
script(src="./menu.js")