.header 
 P <Span class=title>Maya Nelson </Span><Span class=dis> /</Span><Span class=pro>PROJECT MANAGER</Span>

 .nav
  a(href="" class='nav-first') ABOUT ME
  a(href="") RESUME
  a(href="") PROJECT
  a(href="") CONTACT

 .menu-btn 
  .menu-btn-1
  .menu-btn-2
  .menu-btn-3
.phone-menu  
  a(href="" class='phonemenu-first') ABOUT ME
  a(href="") RESUME
  a(href="") PROJECT
  a(href="") CONTACT
   