.header 
 P <Span class=title>Maya Nelson </Span><Span class=dis> /</Span> <Span class=pro>PROJECT MANAGER</Span>

 .nav
  a(href="" class='nav-first') ABOUT ME
  a(href="") RESUME
  a(href="") PROJECT
  a(href="") CONTACT

 label.menu-btn 
  p 