header.header 
 h1.logo <Span class=title>Maya Nelson </Span><Span class=dis> /</Span><Span class=pro>PROJECT MANAGER</Span>

 nav.nav
  a(href="index.html" class='nav-first') ABOUT ME
  a(href="resume.html" class='nav-2') RESUME
  a(href="project.html") PROJECT
  a(href="contant.html") CONTACT

 .menu-btn 
  .menu-btn__bar.menu-btn-1
  .menu-btn__bar.menu-btn-2
  .menu-btn__bar.menu-btn-3
nav.phone-menu 
  a(href="index.html" class='nav-first') ABOUT ME
  a(href="resume.html" class='nav-2') RESUME
  a(href="project.html") PROJECT
  a(href="contant.html") CONTACT
   