.header 
 P <Span class=title>Maya Nelson </Span><Span class=dis> /</Span><Span class=pro>PROJECT MANAGER</Span>

 .nav
  a(href="/dist" class='nav-first') ABOUT ME
  a(href="/dist/resume.html" class='nav-2') RESUME
  a(href="/dist/project.html") PROJECT
  a(href="/dist/contant.html") CONTACT

 .menu-btn 
  .menu-btn__bar.menu-btn-1
  .menu-btn__bar.menu-btn-2
  .menu-btn__bar.menu-btn-3
.phone-menu 
  a(href="/dist" class='nav-first') ABOUT ME
  a(href="/dist/resume.html" class='nav-2') RESUME
  a(href="/dist/project.html") PROJECT
  a(href="/dist/contant.html") CONTACT
   